<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- biblioteca de ícones -->
    <script src="https://kit.fontawesome.com/55462db24e.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <!-- init first content-->
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Welcome Back!</h2>
                <p class="description description-primary">To keep connected with us</p>
                <p class="description description-primary">please login with your personal info</p>
                <button class="btn btn-primary">sign in</button>
            </div> <!-- end first column-->
            <!-- init second column-->
            <div class="second-column">
                <h2 class="title title-second">Create account</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                    <li class="item-social-media"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item-social-media"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item-social-media"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div> 
                <p class="description description-second">or use your email for registration</p>
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button class="btn">Sign up</button>
                </form>
            </div><!-- end second column-->
        </div> <!-- end first content-->

        <!-- init second content-->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title">Hello, Friend</h2>
                <p class="description">Enter your personal details</p>
                <p class="description">and start journey with us</p>
                <button class="btn">sign up</button>
            </div> <!-- end first column-->
            <!-- init second column-->
            <div class="second-column">
                <h2 class="title">Sign in to developer</h2>
                <div class="social-media">
                    <ul>
                    <li class="item-social-media"><a href="#">Facebook</a></li>
                    <li class="item-social-media"><a href="#">Google Plus</a></li>
                    <li class="item-social-media"><a href="#">Linkedin</a></li>
                    </ul>
                </div> 
                <p class="description">or use your email account</p>
                <form class="form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <a href="#">forgot your password?</a>
                    <button class="btn">Sign in</button>
                </form>
            </div><!-- end second column-->
        </div> <!-- end second content-->
    </div>
</body>
</html>